<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <%= image_tag('ucalgary-logo.jpg', height: '200') %>
          <h1>The Third Annual PHAS Symposium</h1>
          <h3>February 21, 2018</h3>
          <hr class="intro-divder"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="instructions">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          It is a pleasure to invite you to the Third Annual PHAS Symposium. The conference is organized by the PHAS Departmental Graduate Association and will take place at <strong>SB142 and SB144</strong> on the main campus of the University of Calgary on  <strong>February 21, 2018</strong>.
        </p>
        <p>
           The purpose of the PHAS Symposium is to bring together researchers from all PHAS groups to share their ongoing research. All PHAS graduate and undergraduate students and postdoctoral research fellows are welcome and encouraged to submit an abstract for an oral and/or a poster presentation. There is a $5 registration fee for both attendees and presenters. Lunch and coffee/refreshments will be provided, and there will be a social event in the evening at the Last Defence Lounge. Prizes will be given out for best talks and posters!
        </p>

        <p>
           <strong>Abstract submission is now open!</strong>
        </p> 

        <p>
          We look forward to seeing you all at the Second Annual PHAS Symposium!
        </p>

        <p>
          Sincerely,
          </p>

          <p>
          <br/>
          The Organizing Committee (in alphabetical order):
          <br/>
          Taylor Cameron
          <br/>
          Pamela Freeman
          <br/>
          Ayush Mandwal
          <br/>
          Anna Ordog
          <br/>
          Kyle Reiter
          <br/>
          Mohammad Hassan Yaghoubi
        </p>
      </div>
    </div>
  </div>
<hr/>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
       <h3>Undergraduate funding opportunity</h3>
       <p>
        The Physics and Astronomy Students' Association (PASA) is proud to announce funding support for any undergraduate who wishes to present a poster at the PHAS Symposium. The best 5 posters will be reimbursed for up to $50 (rush-order pricing cannot be fully funded).
       </p>
       <p>
        The application deadline is <strong>March 7, 2018</strong>. Applications can be submitted by email or in person to a PASA executive, and must include both the poster receipt and some proof of symposium acceptance.
       </p>
       <p>
        For more information or to submit an application, email physastr@ucalgary.ca. You can also drop in to our club room at ST 058/060 to talk with a friendly exec!
       </p>
      </div>
    </div>
  </div>
</div>
<hr/>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: (name == 'success' ? "bg-success" : "bg-danger") %>
<% end %>

<div class="content-section-a">
  <div class="container">
    <div class="row">
      <%= form_for :submission, url: submissions_path, html: {class: 'form-horizontal'} do |f| %>
        <div class='form-group'>
          <%= f.label :presentation_type, class: 'col-sm-2 control-label required' %>
          <div class="col-sm-10">
            <label class="checkbox-inline">
              <%= f.radio_button(:presentation_type, "oral", checked: true, disabled: false) %>
              oral
            </label>
            <label class="checkbox-inline">
              <%= f.radio_button(:presentation_type, "poster", disabled: false) %>
              poster
            </label>
            <label class="checkbox-inline">
              <%= f.radio_button(:presentation_type, "attender", disabled: false) %>
              attender
            </label>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :name, class: 'col-sm-2 control-label required' %>
          <div class="col-sm-10">
            <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :email, class: 'col-sm-2 control-label required' %>
          <div class="col-sm-10">
            <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :attender_type, class: 'col-sm-2 control-label required' %>
          <div class="col-sm-10">
            <label class="checkbox-inline">
              <%= f.radio_button(:attender_type, "undergrad", checked: true) %>
              Undergraduate
            </label>
            <label class="checkbox-inline">
              <%= f.radio_button(:attender_type, "msc") %>
              MSc
            </label>
            <label class="checkbox-inline">
              <%= f.radio_button(:attender_type, "phd") %>
              PhD
            </label>
            <label class="checkbox-inline">
              <%= f.radio_button(:attender_type, "postdoc") %>
              Postdoctoral Fellow
            </label>
            <label class="checkbox-inline">
              <%= f.radio_button(:attender_type, "faculty") %>
              Faculty
            </label>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :sub_department, 'Group', class: 'col-sm-2 control-label required togglable' %>
          <div class="col-sm-10">
            <%= f.text_field :sub_department, class: 'form-control togglable', placeholder: 'Group (ex: IQST)', readonly: true %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :co_authors, 'Co-Authors', class: 'col-sm-2 control-label toggalble' %>
          <div class="col-sm-10">
            <%= f.text_field :co_authors, class: 'form-control togglable', placeholder: 'Co-Authors (ex: Erwin Schr&ouml;dinger, Paul Dirac)'.html_safe %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :title, class: 'col-sm-2 control-label required togglable' %>
          <div class="col-sm-10">
            <%= f.text_field :title, class: 'form-control togglable', placeholder: 'Title (250 character limit)' %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :abstract, class: 'col-sm-2 control-label required togglable' %>
          <div class="col-sm-10">
            <%= f.text_area :abstract, class: 'form-control togglable', placeholder: 'Abstract (2000 character limit)' %>
          </div>
        </div>

        <hr/>

        <div class='form-group'>
          <%= f.label :dietary_restrictions, class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <%= f.text_area :dietary_restrictions, class: 'form-control', placeholder: 'Dietary restrictions' %>
          </div>
        </div>

        <div class='form-group'>
          <%= f.label :will_attend_social_event, 'Do you plan to attend the social event?', class: 'col-sm-2 control-label' %>
          <div class="col-sm-10">
            <label class="checkbox-inline">
              <%= f.radio_button(:will_attend_social_event, 'true', checked: true) %>
              Yes
            </label>
            <label class="checkbox-inline">
              <%= f.radio_button(:will_attend_social_event, 'false') %>
              No
            </label>
          </div>
        </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">         
        <p>
         After you press submit, you will receive a confirmation email that includes information about how to submit your registration fee. 
        </p>
      </div>
    </div>
        <br/>

        <div class='form-group'>
          <div class="col-sm-offset-1 col-sm-10">
            <%= f.submit 'Submit', class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>

<hr/>
<div class="container">
  <div class="row">
    <p>Please contact <%= link_to "kyle.reiter1@ucalgary.ca", "mailto:kyle.reiter1@ucalgary.ca" %> if you have any questions about the form.</p>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    submission.init();
  });
</script>
