<!DOCTYPE html>
<html>
<head>
  <title>UCalgary PHAS Symposium 2015</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'Registration', root_path %>
          </li>
          <li>
            <%= link_to 'Schedule', submissions_path %>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <%= yield %>

  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="copyright text-muted small">Copyright &copy; PHAS Symposium <%= Time.now.year %></p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
