<!DOCTYPE html>
<html>
<head>
  <title>UCalgary PHAS Symposium 2019</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to 'Registration', root_path %>
          </li>
          <li>
            <%= link_to 'Schedule', submissions_path %>
          </li>
        </ul>
      </div>
    </div>
  </nav>


  <%= yield %>

</body>
</html>
